<h1> Listing Articles </h1>

<%= Article::PROPERTY_OPTIONS.each do |category| %>
    <%= link_to category[0], articles_path(:category => category[1]) %>
<% end %>


<table>

  <tr>

    <th> Title </th>
    <th> Text </th>
    <th> Category </th>

  </tr>
  <br>
  <%= link_to "New Article", new_article_path %>
  <% @articles.each do |article| %>
    <tr>
      <td> <%= article.comment.title %> </td>
      <td> <%= article.comment.comment %> </td>
      <td> <%= article.category %> </td>
      <td> <%= link_to 'Show', article_path(article)  %> </td>
      <td> <%= link_to 'Edit', edit_article_path(article) %> </td>
      <td> <%= button_to 'Delete', article_path(article), method: :delete, data: {confirm: 'Are you sure?'}  %> </td>
    </tr>


  <% end %>

</table>

