<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Blog Post - Start Bootstrap Template</title>

  <!-- Bootstrap Core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="css/blog-post.css" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>

<body>

<!-- Page Content -->
<div class="container">

  <div class="row">

    <!-- Blog Post Content Column -->
    <div class="col-lg-8">

      <!-- Blog Post -->

      <!-- Title -->
      <h1><%= title_of_commentable(@article) %></h1>

      <!-- Author -->
      <p class="lead">
        by <a href="#"><%= link_to user_name_of_commentable(@article),
                                   user_path(@article.comment.user)  %></a>
      </p>

      <!-- Date/Time -->
      <p><span class="glyphicon glyphicon-time"></span> Posted on <%= date_of_commentable(@article) %></p>

      <hr>

      <!-- Post Content -->
      <p class="lead"><%= comment_of_commentable(@article) %></p>

      <button id="article-like" class="glyphicon glyphicon-thumbs-up" style="border: none; background:none"></button> <%= number_of_likes_of_commentable(@article)%>
      <div>Answers: <%= @article.posts.count %></div>
      <div>Views  : <%= @article.impressionist_count %></div>
      <hr>
      <!-- Blog Comments -->

      <!-- Comments Form -->

      <div class="well">
        <h4>Leave a Comment:</h4>
        <%= form_for [@article, @article.posts.build] do |f| %>
            <form role="form">
              <div class="form-group">
                <textarea class="form-control" rows="3" name="comment" id="comment" placeholder="Add a comment"></textarea>
              </div>
              <%= f.submit "Comment" %>
            </form>
        <% end %>
      </div>


      <hr>

      <!-- Posted Comments -->

      <!-- Comment -->
      <% if @posts.count > 0 %>
          <% @posts.each do |post| %>
              <% unless post.id == nil %>
                  <div class="media">
                    <a class="pull-left" href="#">
                      <img class="media-object" src="http://placehold.it/64x64" alt="">
                    </a>
                    <div class="media-body">
                      <h4 class="media-heading"><%= link_to user_name_of_commentable(post),
                                                            user_path(post.comment.user)  %>
                        <small><%= date_of_commentable(post) %> </small>
                        <small style="padding-left: 10px">
                          <button id="comment-like" class="glyphicon glyphicon-thumbs-up" style="border: none; background:none"></button>
                          <%= number_of_likes_of_commentable(post)%>
                        </small>
                        <small>
                          <button id="reply-button-click" style="padding-left: 10px; border: none; background:none ">
                            Replies <span class="badge"><%= post.replies.count %></span>
                          </button>
                        </small>
                      </h4>
                      <p  style="min-height: 30px"><%= comment_of_commentable(post) %></p>
                      <%= form_for [@article,post,post.replies.build] do |f| %>
                          <form role="form">
                            <div class="form-group">
                              <textarea class="form-control" rows="2" name="comment" id="comment" placeholder="Add your answer"></textarea>
                            </div>
                            <%= f.submit "Submit" %>
                          </form>
                      <% end %>
                      <% if post.replies.count > 0 %>
                        <% post.replies.each do |reply| %>
                          <% unless reply.id == nil %>
                              <div class="media">
                                <a class="pull-left" href="#">
                                  <img class="media-object" src="http://placehold.it/64x64" alt="">
                                </a>
                                <div class="media-body">
                                  <h4 class="media-heading"><%= link_to user_name_of_commentable(reply),
                                                                        user_path(reply.comment.user)  %>
                                    <small><%=date_of_commentable(reply) %></small>
                                    <small style="padding-left: 10px">
                                      <button id="reply-like" class="glyphicon glyphicon-thumbs-up" style="border: none; background:none"></button>
                                      <%= number_of_likes_of_commentable(reply)%>
                                    </small>
                                  </h4>
                                  <%= comment_of_commentable(reply) %>
                                </div>
                              </div>
                          <% end %>
                        <% end %>
                      <% end %>
                    </div>

                  </div>
              <% end %>
          <% end %>
      <% else %>
          <div class="row">
            <div class="col-lg-12">
              <h4>Be the first to answer!</h4>
            </div>
          </div>
      <% end %>

    </div>

    <!-- Blog Sidebar Widgets Column -->
    <div class="col-md-4" style="padding-top: 30px">

      <!-- Blog Categories Well -->
      <div class="well">
        <h4>Blog Categories</h4>
        <div class="row">
          <div class="col-lg-6">
            <ul class="list-unstyled">
              <li><a href="#">Category Name</a>
              </li>
              <li><a href="#">Category Name</a>
              </li>
              <li><a href="#">Category Name</a>
              </li>
              <li><a href="#">Category Name</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul class="list-unstyled">
              <li><a href="#">Category Name</a>
              </li>
              <li><a href="#">Category Name</a>
              </li>
              <li><a href="#">Category Name</a>
              </li>
              <li><a href="#">Category Name</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- /.row -->
      </div>

      <!-- Side Widget Well -->
      <div class="well">
        <h4><%= Article::PROPERTY_OPTIONS.index(@article.category) %> Section</h4>
        <p>Please stay on topic and apply forum rules.</p>
      </div>

    </div>

  </div>
  <!-- /.row -->

  <hr>

  <!-- Footer -->
  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright &copy; Your Website 2014</p>
      </div>
    </div>
    <!-- /.row -->
  </footer>

</div>
<!-- /.container -->

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

</body>

</html>









