<%= render "shared/error_messages", :target => @user %>




<div class="form-group">

<p>
  <%= form.text_field :first_name, class:"form-control input-lg", placeholder: "First Name" %>
</p>
<p>
  <%= form.text_field :last_name, class:"form-control input-lg", placeholder: "Last Name" %>
</p>
<p>
  <%= form.text_field :email, class:"form-control input-lg", placeholder: "Email"%>
</p>
<p>
  <%= form.password_field :password, class:"form-control input-lg", placeholder: "Password"%>
</p>
<p>
  <%= form.password_field :password_confirmation, class:"form-control input-lg", placeholder: "Password Confirmation"%>
</p>

</div>





