<% if post.replies.count > 0 %>
    <% post.replies.order('created_at DESC').each do |reply| %>
        <% unless reply.id == nil %>
            <div class="media">
              <a class="pull-left" href="#">
                <img class="media-object" src="http://placehold.it/64x64" alt="">
              </a>
              <div class="media-body">
                <h4 class="media-heading"><%= link_to user_name_of_commentable(reply),
                                                      user_path(reply.comment.user)  %>
                  <small><%=date_of_commentable(reply) %></small>
                  <small style="padding-left: 10px">
                    <%= form_for [@article, post, reply], :method => :put,  remote: true do |f| %>
                        <button id="reply-like"
                            class="glyphicon glyphicon-thumbs-up"
                            style="border: none; background:none; padding-bottom: 5px"></button>
                    <% end %>
                        <div id="reply-like-section-<%= reply.id %>">
                          <%= render 'shared/article_like', :comment => reply.comment %>
                        </div>
                  </small>
                </h4>
                <%= comment_of_commentable(reply) %>
              </div>
            </div>
        <% end %>
    <% end %>
<% end %>